---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astroとtailwindの練習用サイト">
	<main>
		<section class="flex justify-center items-center w-full h-lvh">
			<h1 class="text-lg font-sans">Astro Template</h1>
		</section>
	</main>
</Layout>
