---
import { container } from '@variants/container';
---

<footer
	class={container({
		wide: 'header',
		class: 'bg-neutral-200 h-fit',
	})}
>
	<div class="flex py-8 md:justify-between max-md:flex-col">
		<p class="text-lg font-raleway font-bold md:pl-2">Copyright</p>
	</div>
</footer>
